{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login.css' %}">
    <title>Login</title>
</head>
<body>
    {% include 'NavBar.html' %}
    <div class="container">
        <h2>LOGIN</h2>
        <form action="{% url 'Login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
        </form>
        <div style="text-align: center;">
            <p style="color:red">{{ message }}</p>
        {% if message == "Login successful" %}
            <p>Welcome, {{ user.username }}! Do you want to add more houses? <a href="{% url 'AddHouse' %}">Add House</a></p>
            <p>Do you want to log out? <a href="{% url 'Logout' %}">Logout</a></p>
        {% else %}
            <p>Don't have an account? <a href="{% url 'Register' %}">Register</a></p>
        {% endif %}
        </div>
    </div>
</body>
</html>