{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Register.css' %}">
    <title>Register</title>
</head>
<body>
    {% include 'NavBar.html' %}
    <h2>REGISTER</h2>
    <form action="{% url 'Register' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username: <input type="text" name="username" id="username"></label>
        <label for="password">Password: <input type="password" name="password" id="password"></label>
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="tenant">Tenant</option>
            <option value="landlord">Landlord</option>
        </select>
        <input type="submit" value="Create Account">
    </form>
    <div class="container" >
        <p style="color: red;">{{ message }}</p>
        {% if message == 'Username already exists' %}
            <p>Already have an account? <a href="{% url 'Login' %}">Login</a></p>
        {% endif %}
        {% if message == 'Registration successful' %}
            <p>Account created successfully! <a href="{% url 'Login' %}">Login</a></p>
        {% endif %}
    </div>
</body>
</html>